* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  list-style: none;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/*---list---*/
#categories {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: auto;
  border-radius: 8px;
  padding: 24px;
  background: #fff;
  row-gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
  background: #f6f6fe;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 16px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  border-radius: 4px;

}


/*---gallery---*/

.gallery {
  max-width: 1128px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 24px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.gallery-item img {
  display: block;
  width: 360px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}